.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    color: $secondary-color;
    font-weight: 400;
    font-size: 12px;
  }

  &__value {
    font-weight: 700;
    font-size: 16px;
  }
}
